
@keyframes fill {
    from {
      width: 0%;
    }
    to {
      width: var(--target);
    }
  }
  
  .animate-fill {
    animation: fill 1s ease-out forwards;
  }
  .hero-section {
    height: calc(100vh - 72px);
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  